.redtext { 
	color : red;
}

.moveright {
	padding-left: 2.5%;
}

.drag-over {
   	font-size: 19px;
   	background-color: rgba(0,191,165,0.2);
}

.hide {
    display: none;
}

.marginUp {
	margin-top: 5%;
}

.marginDown {
	margin-bottom: 3%;
}

.center {
	text-align: center;
}

.loginSection {
	width: 50%;
	float: left;
	text-align: center;
}

.loginSection.dropdown * {
	margin: auto;
}

.italic {
	font-style: italic;
}

.box {
	border: 2px solid black;
	padding: 13px;
	display: inline-block;
	margin: 0 auto;
}

.loginFooter {
	margin-top: 75px;
}

.overflowHidden {
	overflow: hidden;
}

.nextToEachOther {
	width: 50%;
	float: left;
}

.logout {
	text-align: right;
}

.categoryContainer {
	width: 70%;
	float: left;
}

.creationForm {
	width: 30%;
	float: left;
	text-align: center;
	margin-top: 5%;
}

.marginRight {
	margin-right: 3%;
}