<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Homepage</title>
		<link rel="stylesheet" type="text/css" media="all"
			href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
	</head>
	<body>
		<h1 th:text="${'Welcome to your homepage, ' + user + '!'}">Welcome to the homepage!</h1>
		<h3>All your categories:</h3>
		<p class="redtext" th:text="${categoriesError}"></p>
		<a href="Home.html" th:if="${not copyLink}"
			th:href="@{/InsertCopiedCategory(parentID=${parentID}, rootID='root')}">
			copy here
		</a>
		<div th:each="category : ${categoryList}">
			<span th:if="${copyLink or (not copyLink and not isToCopyMap[category.categoryID])}"
			 	th:text="${category.categoryID + ' - ' + category.name + ' - '}">XXX - Generic category - </span>
		 	<span class="redtext" th:if="${not copyLink and isToCopyMap[category.categoryID]}"
		 		th:text="${category.categoryID + ' - ' + category.name}">XXX - Generic category - </span>
			<a href="Home.html" th:if="${copyLink}"
				th:href="@{/CopyCategory(parentID=${category.categoryID})}">
				copy
			</a>
			<a href="Home.html" th:if="${not copyLink and not isToCopyMap[category.categoryID]}"
				th:href="@{/InsertCopiedCategory(parentID=${parentID}, rootID=${category.categoryID})}">
				copy here
			</a>
		</div>
		<p th:if="${#lists.isEmpty(categoryList)}">
			There are no categories to show, please create a new one with the form below!
		</p>
		<h3 th:if="${copyLink}">Insert a new category:</h3>
		<form th:if="${copyLink}" th:action="@{/CreateCategory}" method="POST">
			Parent ID: 
			<select name="parentID" required>
				<option th:each="id : ${idList}" th:value="${id}" th:text="${id}"></option>
			</select><br>
			Category name: <input type="text" name="name" required><br>
			<input type="submit" name="Create category">
		</form>
		<p><a th:href="@{/Logout}">Log out</a> from your profile.</p>
	</body>
</html>