<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Homepage</title>
	</head>
	<body>
		<h1>Welcome to the homepage!</h1>
		<h3>All your categories:</h3>
		<p th:text="${categoriesError}"></p>
		<div th:each="string : ${stringList}" >
				<span th:text="${string}">
					There are no categories to show. Please create a new one with the form below!
				</span>
		</div>
		<h3>Insert a new category:</h3>
		<form action="/GoToHome" method="POST">
			Parent ID: 
			<select required>
			<option th:each="id : ${idList}" th:value="${id}" th:text="${id}"></option>
			</select><br>
			Category name: <input type="text" required><br>
			<input type="submit" name="Create category">
		</form>
	</body>
</html>