<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Homepage</title>
	</head>
	<body>
		<h1 th:text="${'Welcome to your homepage, ' + user + '!'}">Welcome to the homepage!</h1>
		<p><a th:href="@{/Logout}">Log out</a> from your profile.</p>
		<h3>All your categories:</h3>
		<p th:text="${categoriesError}"></p>
		<ul>
			<li th:each="category : ${categoryList}"
				th:text="${category.categoryID + ' - ' + category.name}">
				There are no categories to show, please create a new one with the form below!"
			</li>
		</ul>
		<h3>Insert a new category:</h3>
		<form th:action="@{/CreateCategory}" method="POST">
			Parent ID: 
			<select name="parentID" required>
				<option th:each="id : ${idList}" th:value="${id}" th:text="${id}"></option>
			</select><br>
			Category name: <input type="text" name="name" required><br>
			<input type="submit" name="Create category">
		</form>
	</body>
</html>